@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

* {
  margin: 0;
  font-family: "Josefin";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #ff22ff;
}

.navbar .links {
  margin-left: auto;
}

.navbar h2 {
  color: #f1356d;
}
.navbar a {
  text-decoration: none;
  margin-left: 16px;
  padding: 6px;
}

.navbar a:hover {
  color: #ff22ff;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  text-align: center;
  margin: 10px;
  padding: 1rem;
  border-bottom: 1px solid #fafafa;
}
