@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

/* colors used : #4338ca */
* {
  margin: 0;
  font-family: "Josefin";
  color: #333;
}
body {
  background-color: #eff6ff;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #ff22ff;
  background-color: #4338ca;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar .links {
  margin-left: auto;
}

.navbar h2 {
  color: white;
  cursor: pointer;
}
.navbar a {
  text-decoration: none;
  margin-left: 16px;
  padding: 6px;
  color: white;
}

.navbar a:hover {
  color: #064e3b;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  margin: 10px;
  padding: 1rem;
  border-bottom: 1px solid #fafafa;
}
.blog-preview h2 {
  color: #831843;
}
